<mat-tab-group dynamicHeight [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">
  <mat-tab [disabled]="false" label="Ordenes">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">shopping_cart</mat-icon> Ordenes
    </ng-template>
    <mat-divider></mat-divider>

    <div class="mt-3">
      <button mat-raised-button class="my-2 mr-1">
        <i class="fas fa-filter"></i> Fecha inicio
      </button>
      <button mat-raised-button class="my-2 mr-1">
        <i class="fas fa-filter"></i> Fecha Fin
      </button>
      <div class="row">
        <div class="col-sm-6">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Ordenes desde
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field class="w-100">
                <mat-chip-list #chipList aria-label="Selecciona">
                  <mat-chip *ngFor="let provider of providers" [selectable]="true" [removable]="true"
                    (removed)="remove(provider)">
                    {{provider}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Selecciona un proveedor" #providerInput [formControl]="chipControl"
                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let provider of filteredproviders | async" [value]="provider">
                    {{provider}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="w-100">
                <mat-label>Status</mat-label>
                <mat-select [formControl]="selectStatus">
                  <mat-option value="pendiente">Pendiente</mat-option>
                  <mat-option value="cerrado">Cerrado</mat-option>
                  <mat-option value="cancelado">Cancelado</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="clearfix mb-2">
                <mat-form-field class="w-50 float-left">
                  <input matInput placeholder="Referencia...">
                </mat-form-field>
                <mat-form-field class="w-50 float-right">
                  <input matInput placeholder="Cliente...">
                </mat-form-field>
              </div>
              <mat-checkbox>Agrupar carritos de Mercado Libre</mat-checkbox>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-sm-6">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Ordenes desde
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field class="w-100">
                <mat-chip-list #chipList aria-label="Selecciona">
                  <mat-chip *ngFor="let provider of providers" [selectable]="true" [removable]="true"
                    (removed)="remove(provider)">
                    {{provider}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Selecciona un proveedor" #providerInput2 [formControl]="chipControl2"
                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let provider of filteredproviders | async" [value]="provider">
                    {{provider}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="w-100">
                <mat-label>Status</mat-label>
                <mat-select [formControl]="selectStatus2">
                  <mat-option value="pendiente">Pendiente</mat-option>
                  <mat-option value="cerrado">Cerrado</mat-option>
                  <mat-option value="cancelado">Cancelado</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="w-100 float-left">
                <input matInput placeholder="Referencia...">
              </mat-form-field>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="col-sm-4 offset-sm-4 mt-3">
        <div class="d-flex">
          <button mat-raised-button class="mr-1">
            <i class="fas fa-share"></i> Exportar
          </button>
          <button mat-raised-button class="mr-1">
            <i class="fas fa-book"></i> Etiquetas
          </button>
          <button mat-raised-button class="mr-1">
            <i class="fas fa-file-alt"></i> Facturas
          </button>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="w-100" matSort matSortActive="price" matSortDisableClear
            matSortDirection="desc">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let row"></td>
            </ng-container>
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <img [src]="row.images[0]?.url_source" [alt]="row.name" class="avatari">
              </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de pago</th>
              <td mat-cell *matCellDef="let row">{{ row.created_at | date }}</td>
            </ng-container>

            <ng-container matColumnDef="sku">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia</th>
              <td mat-cell *matCellDef="let row"> {{ row.sku }} </td>
            </ng-container>

            <ng-container matColumnDef="brand">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
              <td mat-cell *matCellDef="let row"> {{ row.brand }}</td>
            </ng-container>

            <ng-container matColumnDef="condition">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Progreso</th>
              <td mat-cell *matCellDef="let row"> {{ row.condition }}</td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef>Dirección</th>
              <td mat-cell *matCellDef="let row"> Dirección dummy </td>
            </ng-container>

            <ng-container matColumnDef="stock">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
              <td mat-cell *matCellDef="let row"> {{ row.stock }} </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
              <td mat-cell *matCellDef="let row"> {{ row.price | currency }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let row">
                <div class="d-flex">
                  <i class="pointer fas fa-eye mr-1" (click)="addTab( row )"></i>
                  <i class="pointer fas fa-download mr-1"></i>
                  <i class="pointer fas fa-trash mr-1 text-danger" (click)="deleteProduct( row.pk )"></i>
                </div>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator [length]="totalProducts" [pageSizeOptions]="[ 10, 20, 50, 100]"
            (page)="pageEvent = paginate( $event )"></mat-paginator>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.name">
    <mat-divider></mat-divider>
    <div class="p-5">
      <div class="row">
        <div class="col-12">
          <button (click)="removeTab(index)" class="float-right" mat-mini-fab color="warn">X</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-6 mt-2">
              <mat-card>
                <span><i class="fas fa-box-open"></i> Orden</span>
                <p class="mt-5">{{ tab.brand }}</p>
              </mat-card>
            </div>
            <div class="col-sm-6 mt-2">
              <mat-card>
                <span><i class="fas fa-user"></i> Cliente</span>
                <p class="mt-5">{{ tab.name }}</p>
              </mat-card>
            </div>
            <div class="col-sm-6 mt-2">
              <mat-card>
                <span class="mb-5"><i class="fas fa-shopping-cart"></i> Productos</span>
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Ver Información
                      </mat-panel-title>
                      <mat-panel-description>
                        Se desplegará el HTML
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div [innerHTML]="tab.description_html" class="mt-2"></div>
                  </mat-expansion-panel>
                </mat-accordion>

              </mat-card>
            </div>
            <div class="col-sm-6 mt-2">
              <mat-card>
                <span><i class="fas fa-file-alt"></i> Facturación</span>
                <p class="mt-5">{{ tab.sku }}</p>
              </mat-card>
            </div>
            <div class="col-sm-6 mt-2">
              <mat-card>
                <span><i class="fas fa-tag"></i> Etiquetas</span>
                <div class="row mt-5">
                  <div class="col-sm-4" *ngFor="let image of tab.images">
                    <img [src]="image.url_source" class="avatari">
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-sm-6 mt-2">
              <mat-card>
                <span><i class="fas fa-cloud-meatball"></i> Integraciones</span>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <mat-card>
            <span><i class="fas fa-clock"></i> Historial</span>

          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>